@import "../../variables.scss";

.work-experience {
  width: calc(50% - 25px);
  min-width: 250px;
  padding-right: 25px;
  margin-bottom: 20px;
  .work-experience__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .work-experience__job {
    margin-bottom: 20px;
    .work-experience__position {
      font-weight: 600;
    }
    .work-experience__company {
    }
    .work-experience__description {
      font-size: 0.8rem;
    }
    .work-experience__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;
      font-style: italic;
      font-size: 0.8rem;
      color: $accent-color;
      .work-experience__link {
        font-size: 0.9rem;
        color: $links-color;
        width: fit-content;
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid transparent;
        font-style: normal;
        &:hover {
          border-color: $accent-color;
        }
      }
      .work-experience__period {
        font-style: italic;
        font-size: 0.8rem;
        color: $accent-color;
      }
    }
    .work-experience__tasks {
      font-size: 0.8rem;
      list-style: none;
      list-style-position: inside;

      .work-experience__item {
        align-items: center;
        display: flex;
      }

      li::before {
        content: "•";
        font-size: 1.5rem;
        color: $accent-color;
        display: inline-block;
        margin-right: 1rem;
        // max-height: 0.8rem;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}
