@import "../../variables.scss";

.skills {
  width: calc(50% - 25px);
  min-width: 250px;
  padding-right: 25px;
  margin-bottom: 20px;
  .skills__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .skills__item {
    margin-bottom: 5px;
    .skills__name {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .skills__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .skills__bubble {
        background-color: $accent-color;
        width: fit-content;
        padding: 5px 10px;
        font-size: 0.7rem;
        color: $secondary-text-color;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}
