@import "../../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1.5px solid $accent-color;

  .header__bio {
    flex: 0 1 60%;
    .header__fullname {
      font-size: 1.8rem;
    }
    .header__position {
      font-size: 1.5rem;
      color: $accent-color;
      margin-bottom: 10px;
    }
    .header__about-me {
      font-size: 0.9rem;
    }
  }
  .header__links {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    align-items: flex-end;
    .header__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: $links-color;
      justify-content: flex-end;
      &:hover {
        .header__link{
          border-color: $accent-color;
        }
      }
      .header__img {
        margin-left: 10px;
        max-width: 25px;
      }
      .header__link {
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid transparent;
        font-size: 0.9rem;
        &--mobile {
          display: none;
          font-size: 0.8rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    & {
      flex-direction: column;
      padding: 15px 25px;
      align-items: flex-start;
      .header__bio {
        width: 100%;
        margin-bottom: 20px;
        flex: 0 1 100%;
      }
      // .header__links {
      //   width: 100%;
      //   max-width: 200px;
      //   align-items: center;
      //   .header__item {
      //     width: 100%;
      //     justify-content: space-between;
      //   }
      // }
      .header__links {
        width: fit-content;
        justify-content: flex-start;
        flex-direction: row;
        .header__item {
          margin: 0;
          margin-right: 15px;
          flex-direction: column;
          .header__link {
            display: none;
            &--mobile {
              display: block;
            }
          }
          .header__img {
            margin: 0;
            max-width: 45px;
          }
        }
      }
    }
  }
}
