@import "../../variables.scss";

.education {
  width: calc(50% - 25px);
  min-width: 250px;
  padding-right: 25px;
  margin-bottom: 20px;
  .education__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .education__place {
    .education__degree {
      font-weight: 600;
    }
    .education__university {
    }
    .education__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;
      font-style: italic;
      font-size: 0.8rem;
      color: $accent-color;
      .education__period {
      }
    }
  }
  @media (max-width: 768px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}
