@import "../src/variables.scss";

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: $main-background-color;

  a {
    text-decoration: none;
  }

  input:focus {
    outline: none;
  }

  ul {
    // list-style-type: none;
  }

  form {
    padding: 0;
    margin: 0;
  }
}
