@import "./variables.scss";

.resume_page {
  width: 100%;
  height: 100%;
  .resume_page__content {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    .resume_page__content {
      padding: 15px 25px;
    }
  }
}
