//white color pallete
$white: #ffffff;
$light100-grey: #bbbbbb;
$light80-grey: #c5c5c5;
$light60-grey: #d8d8d8;
$light40-grey: #d2d2d4;
$light20-grey: #eaeaec;
$black: #000000;
$bright-blue: #39a1a1;
$dark-blue: #000034;
$pink: #FF32A4;
$reddish: #D62415;
$light-blue: #c2e8ce;
$orange: #e47312;
$light20-orange: #e5d8bf;

$main-background-color: $light20-orange;
$primary-text-color: $black;
$secondary-text-color: $white;
$links-color: #96551B;
// $links-color: $reddish;
$accent-color: $orange;