@import "../../variables.scss";

@import "../../variables.scss";

.projects {
  width: calc(50% - 25px);
  min-width: 250px;
  padding-right: 25px;
  margin-bottom: 20px;
  .projects__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .projects__item {
    .projects__name {
      font-weight: 600;
    }
    .projects__description {
      font-size: 0.8rem;
    }
    .projects__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;
      font-style: italic;
      font-size: 0.8rem;
      color: $accent-color;
      .projects__link {
        font-size: 0.9rem;
        color: $links-color;
        width: fit-content;
        font-style: normal;
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
          border-color: $accent-color;
        }
      }
      .projects__period {
        font-style: italic;
        font-size: 0.8rem;
        color: $accent-color;
      }
    }
    .projects__tasks {
      font-size: 0.8rem;
      list-style: none;
      list-style-position: inside;

      .projects__item {
        align-items: center;
        display: flex;
      }

      li::before {
        content: "•";
        font-size: 1.5rem;
        color: $accent-color;
        display: inline-block;
        margin-right: 1rem;
        // max-height: 0.8rem;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}
